/* GENERAL */
html {
  background-color: #374f8d;
  box-sizing: border-box;
}

* {
  font-family: "Lucida Console";
  font-weight: 400;
  color: #ffffff;
}

button { 
  background-color: #c95a5a;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}