html {
  background-color: #374f8d;
  box-sizing: border-box;
}

* {
  font-family: "Lucida Console";
  font-weight: 400;
  color: #ffffff;
}

.nav{
  background-color: black;
  padding: 10px;
}

.links {
  color: white;
  font-size: 1.5em;
}

.listing_container {
  color: black;
  background-color: #d2d2d2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.5em; 
  border-radius: 5px;
  margin: 5px 0;
}