/* GENERAL */
html {
  background-color: #374f8d;
  box-sizing: border-box;
}

* {
  font-family: "Lucida Console";
  font-weight: 400;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: white;
}

h2{
  color: white;
}

nav{
  background-color: black;
  padding: 10px;
}

nav ul{
  list-style-type: none;
  margin: 0;
}

nav li{
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

/*nav a:hover{
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

img {
  width: 100%;
}

main {
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

 #comment-section{
  padding: 20px;
} */